<div class="width-100per align-items flex-column padding-top-5em">
  <div class="flex height-8em" *ngIf="order === 0">
    <app-card-slot [player]="player" [rowType]="rowTypes[0]" *ngFor="let temp of [].constructor(rowSize)"
                   class="width-5em height-7em padding-05em"></app-card-slot>
    <div class="width-5em"></div>
    <app-graveyard class="width-5em height-7em padding-05em" [player]="player"></app-graveyard>
  </div>
  <div class="flex height-8em">
    <app-card-slot [player]="player" [rowType]="rowTypes[1]" *ngFor="let temp of [].constructor(rowSize)"
                   class="width-5em height-7em padding-05em"></app-card-slot>
    <div class="width-5em"></div>
    <app-deck class="width-5em height-7em padding-05em" [player]="player"></app-deck>
  </div>
  <div class="flex height-8em" *ngIf="order === 1">
    <app-card-slot [player]="player" [rowType]="rowTypes[0]" *ngFor="let temp of [].constructor(rowSize)"
                   class="width-5em height-7em padding-05em"></app-card-slot>
    <div class="width-5em"></div>
    <app-graveyard class="width-5em height-7em padding-05em" [player]="player"></app-graveyard>
  </div>
</div>
