.game-card {
  font-size: 0.75em;
  height: 100%;
  border: solid #391607 0.25em;
  border-radius: 1em;
  box-shadow: 0 0 1em 0.5em #000;
  transition: 200ms ease-in-out;
}

.game-card-stat-wrapper {
  width: 25%;
  color: #605d5d;
  background: url("src/assets/images/backgrounds/border-background.jpg");
  box-shadow: 0 0 10px 1px black;
  display: flex;
  z-index: 1;
}

.game-card-facedown {
  background: url("src/assets/images/backgrounds/card-background.jpg");
}

.unit-background {
  background: url("src/assets/images/backgrounds/card-background-unit.jpg");
  background-size: cover;
}

.building-background {
  background: url("src/assets/images/backgrounds/card-background-building.jpg");
  background-size: cover;
}

.spell-background {
  background: url("src/assets/images/backgrounds/card-background-spell.jpg");
  background-size: cover;
}

.monument-background {
  background: url("src/assets/images/backgrounds/card-background-monument.jpg");
  background-size: cover;
}
